@tailwind base;
@tailwind components;
@tailwind utilities;


/* Figure out a good color scheme for website */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Figure out a good color scheme for website */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #14223a;
    --foreground: #f2e9e4;
  }
}


/* Figure out a good, classy font */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lora) Arial, Helvetica, sans-serif;
}
