@tailwind base;
@tailwind components;
@tailwind utilities;


/* Force dark mode for the website */
:root {
  --background: #14223a;
  --foreground: #f2e9e4;
}

/* Force dark mode for the website */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}


/* Figure out a good, classy font */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lora) Arial, Helvetica, sans-serif;
}
